* {
  box-sizing: border-box;
}

body,
html {
  background: white;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}
input,
select {
  font-size: 100%;
}

body,
html,
#root,
.App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background: white;
  height: 100%;
}

h1,
h2 {
  margin: 0;
}

.wof-animated {
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

// Class Animations
.start-rotation {
  -webkit-animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite;
  -ms-animation: rotate 2s linear infinite;
  -o-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

.wheel-rotor-shadow-inner,
.wheel-rotor {
  transform: rotate(0deg);
  //animation-name: rotate;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.wof-pointer {
  transform: rotate(50deg);
  // animation-name: pointer;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-iteration-count: 16;
}

@keyframes pointer {
  from {
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
  }
  to {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wof-form-container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.wheel-rotor-slices path:nth-child(1) {
  fill: #f1b859;
}
.wheel-rotor-slices path:nth-child(2) {
  fill: #f4994b;
}

.wheel-rotor-slices path:nth-child(3) {
  fill: #d7394d;
}
.wheel-rotor-slices path:nth-child(4) {
  fill: #dd5b46;
}
.wheel-rotor-slices path:nth-child(5) {
  fill: #f7d69e;
}
.wheel-rotor-slices path:nth-child(6) {
  fill: #f1b859;
}
.wheel-rotor-slices path:nth-child(7) {
  fill: #f4994b;
}
.wheel-rotor-slices path:nth-child(8) {
  fill: #d7394d;
}
.wheel-rotor-slices path:nth-child(9) {
  fill: #dd5b46;
}
.wheel-rotor-slices path:nth-child(10) {
  fill: #f7d69e;
}
