body, html{ background: white}
.App {
  font-family: sans-serif;
  text-align: center;
  background:white;
}

.wof-animated{
  transition: all .5s cubic-bezier(.215,.61,.355,1);
}






// Class Animations
.start-rotation {
  transform: rotate(0deg);
  animation-name: rotate;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count: infinite;

}

.wheel-rotor-shadow-inner,
.wheel-rotor{
  transform: rotate(0deg);
  //animation-name: rotate;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: 1 ;
  animation-fill-mode: forwards
}



.wof-pointer{
  transform: rotate(50deg);
 // animation-name: pointer;
  animation-duration: .5s;
  animation-delay: 0s;
  animation-iteration-count: 16;
}


@keyframes pointer{
  from{
    transform: rotate(50deg)
  }
  to{
    transform: rotate(0deg)

  }
}

@keyframes rotate{
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(1000deg)

  }
}

.wof-form-container{
  display:flex;
  flex-flow:row wrap;
  align-content: center;
  > div{
    width: 50%;

    &:last-child{
        position: relative;
    }
    button{

      color: #ffffff;
      font-size: 16px;
      font-weight: normal;
      font-family: Tahoma, sans-serif;
      line-height: 22px;
      text-decoration: none;
      background-color: #d7394d;
      border: 1px solid #d7394d;
      text-transform: none;
      white-space: normal!important;
      text-align: center;
      padding: 14px 40px!important;
      margin: 20px 0 5px!important;
    }
  }
}


.wheel-rotor-slices path:nth-child(1) {
  fill: #f1b859;
}
.wheel-rotor-slices path:nth-child(2) {
  fill: #f4994b;
}

.wheel-rotor-slices path:nth-child(3) {
  fill: #d7394d;
}
.wheel-rotor-slices path:nth-child(4) {
  fill: #dd5b46;
}
.wheel-rotor-slices path:nth-child(5) {
  fill: #f7d69e;
}
.wheel-rotor-slices path:nth-child(6) {
  fill: #f1b859;
}
.wheel-rotor-slices path:nth-child(7) {
  fill: #f4994b;
}
.wheel-rotor-slices path:nth-child(8) {
  fill: #d7394d;
}
.wheel-rotor-slices path:nth-child(9) {
  fill: #dd5b46;
}
.wheel-rotor-slices path:nth-child(10) {
  fill: #f7d69e;
}
